.about-block1-wrapper{
    background-color: black;
    width: 100%;
    padding-bottom: 30px 0;
}

.about-block1-content{
    align-items: center;
}

.about-block1-content-text-title {
    line-height: 38px;
    font-size: 36px;
    margin: 0;
    padding: 30px 0;
}
.about-block1-content-text{
    padding: 0 20px;
    max-width: 400px;
    text-align: center;
}

.about-block1-content-image {
    padding: 30px;
    max-width: 100%;
    opacity: 0.7;
}

.about-block1-content-motorista {
    max-width: 100%;
    opacity: 0.7;
}


@media screen and (min-width: 768px){
    .about-block1-wrapper{
        padding-bottom: 50px;
    }

    .about-block1-content{
        display: flex;
    }

    .about-block1-content-text{
        text-align: start;
        padding: 0 80px;
        max-width: 50%;
    }

    .about-block1-content-text-title {
        font-size: 64px;
        padding-bottom: 70px;
        line-height: 1;
    }

    .about-block1-content-image {
        align-items: center;
        padding-left: 40px;
        max-width: 50%;
        display: flex;
        margin: 0 auto;
    }    

}

@media screen and (min-width: 1440px){
    .about-block1-content-text{
        padding: 0;
        padding: 0 70px;
    }

    .about-block1-content-text-title {
        line-height: 70px;
    }
}

@media screen and (min-width: 1900px){
    .about-block1-content-text{
        padding-left: 180px;
    }
}