.nav-bar{
    background-color: black;
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: var(--green-10) 3px solid;
}

.nav-bar-home{
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: space-between;
    margin: 0 100px ;
}

.nav-bar-links-pages{
    display: flex;
}

.nav-bar-link{
    border: solid 2px transparent;
    align-items: center;
    display: flex;
    padding: 10px;
    
}


.nav-bar-link:hover{
    border-bottom: solid 2px var(--green-10);

}

a {
    margin-left: 10px;
    color: var(--green-10);
}
