.about-block3-wrapper{
    height: 100%;
    background-color: black;
    width: 100%;
    padding-bottom: 30px 0;
}

.about-block3-list-itens{
    text-align: center;
}

.about-block3-title{
    text-align: center;
    font-size: 36px;
    line-height: 1;
}

.about-block3-item {
    padding: 0 20px;
}

.about-block3-item-title{
    font-size: 28px;
    text-decoration: underline;
    line-height: 1;
}



@media screen and (min-width: 768px){
    .about-block3-wrapper{
        padding-bottom: 50px;
    }

    .about-block3-title{
        font-size: 64px;
    }

    .about-block3-list-itens{
        justify-content: center;
    }

    .about-block3-item {
        max-width: 30%;
    }
    
    .about-block3-item-title{
        font-size: 40px;
    }
    
}
    
@media screen and (min-width: 1440px){
    
}

@media screen and (min-width: 1900px){
    .about-block3-content-text{
        padding-left: 180px;
    }
}