.footer {
    background-color: black;
    height: 100%;
    width: 100%;
}


@media screen and (min-width: 768px){
    .footer {
    height: 280px;
    display: flex;
    bottom: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-top: 8px solid var(--green-1);
    }

    .content-footer {
        height: 80%;
        width: 100%;
        display: flex;
    }

    
    .container-info {
    width: 30%;
    }

    .container-atendimento {
    width: 30%;
    }

    .container-redes {
    width: 30%;
    }
}



.content-footer {
    height: 80%;
    width: 100%;
    justify-content: center;
    padding: 0 30px;
    padding-bottom: 10%;

}

a {
    margin-left: 10px;
    color: var(--white-9);
}

    .container-info {
        width: 100%;
    }
    
    .container-atendimento {
        width: 100%;
    }
    
    .container-redes {
        width: 100%;
    }
    


.hr {
    background-color: var(--green-1);
    position: relative;
    height: 3px;
    margin: 35px 10px;
    border: none;
    width: 50%;
}

.footer-li {
    position: relative;
    padding-left: 13px;
    line-height: 25px;
    color: var(--white-4);
}

.footer-li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--green-1);
}

a {
    color: var(--white-4);
}